<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--config-->



<head>
  <th:block th:replace="~{layout/config :: configFragment}"></th:block>
</head>

<body>

<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<div class="container-fluid">
  <div class="row flex-nowrap">

<!--left-->
  <th:block th:replace="~{layout/left :: leftFragment}"></th:block>

<!--header-->



  <th:block layout:fragment="article"></th:block>

  </div>


<!--footer-->
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
</div>
</body>
</html>