spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/swnote?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  profiles:
    default: dev

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  data:
    web:
      pageable:
        default-page-size: 10
#        one-indexed-parameters: true

#  sql:
#    init:
#      mode: always
#      data-locations: classpath:/articleEx.sql

  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    cache: false


cloud:
  aws:
    s3:
      bucket: swnotes3bucket
    stack.auto: false
    region.static: ap-northeast-2
    credentials:
      accessKey: AKIA6AJQD3X2DO6CVXKT
      secretKey: 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


