<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">
<th:block layout:fragment="head">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset="UTF-8">
  <title>Article List</title>
</th:block>

<main class="col-9 py-md-3 pl-md-5 bd-content" role="main" layout:fragment="article">

  <h1> Article 페이지 </h1>

  <div id="viewer"></div>

</main>

<th:block layout:fragment="script">
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/editor/toast_viewer.js"></script>
</th:block>

</html>