<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">
<th:block layout:fragment="head">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset="UTF-8">
  <title>Article List</title>
</th:block>

<main class="col-9 py-md-3 pl-md-5 bd-content" role="main" layout:fragment="article">

  <h1> Article 페이지 </h1>

  <div class="row gx-4 gx-lg-5 justify-content-center" style="padding-left: 20px">
    <div class="col-md-12 col-lg-8 col-xl-7">

      <th:block th:each="article: ${articleList.getContent()}">
      <!-- Post preview-->
      <div  class="post-preview">
        <a th:href="@{/article/{id}(id=${article.getId()})}">
          <h2 th:text="${article.getTitle()}" class="post-title"></h2>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on September 24, 2023
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Post preview-->
      </th:block>

      <!-- Pager-->
      <div th:if="${articleList.hasNext()}" class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">더보기 →</a></div>
    </div>
  </div>

</main>

<th:block layout:fragment="script">
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/editor/toast_viewer.js"></script>
</th:block>

</html>