<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset="UTF-8">
  <title>Category Regist</title>
</head>

<main class="col-9 py-md-3 pl-md-5 bd-content" role="main" layout:fragment="content">

  <h1> Category </h1>

  <div class="row gx-4 gx-lg-5 justify-content-center" style="padding-left: 20px">
    <div class="col-md-12 col-lg-8 col-xl-7">

      <div class="accordion" id="accordionExample">

      <th:block th:each="parent : ${parentCategories}">
        <div class="accordion-item">
          <h2 class="accordion-header" th:id="'heading' + ${parent.getId()}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${parent.getId()}" aria-expanded="true" th:aria-controls="'collapse' + ${parent.getId()}">
              <span th:text="${parent.getCategoryName()}" />
            </button>
          </h2>
          <div th:id="'collapse' + ${parent.getId()}" class="accordion-collapse collapse" th:aria-labelledby="'heading' + ${parent.getId()}" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <table class="table">
                <thead>
                <tr>
                  <th scope="col">카테고리명</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="child: ${parent.getChildList()}">
                <tr>
                  <td th:text="${child.getCategoryName()}"></td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm">삭제</button>
                  </td>
                </tr>
                </th:block>

                <tr>
                  <td>
<!--                    <input type="text" id="child_category_name" class="i" placeholder="카테고리명">-->
<!--                    <button type="button" class="btn btn-primary btn-sm">+</button>-->
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="카테고리명" aria-label="Recipient's username" th:aria-describedby="'btn_childCategoryRegist' + ${parent.getId()}">
                      <button class="btn btn-outline-secondary" type="button" th:id="'btn_childCategoryRegist' + ${parent.getId()}" th:onclick="childCategoryRegist([[${parent.id}]], this)">+</button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </th:block>


      </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="parent_category_name" placeholder="카테고리명" aria-label="카테고리명" aria-describedby="btn_parent_regist">
        <button class="btn btn-outline-secondary" type="button" id="btn_parent_regist">+</button>
    </div>
    </div>
  </div>

</main>


<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/category/category.js}" ></script>
</th:block>